.navegation-body {
  align-items: center;
  background: linear-gradient(to right, #5b8be6, #48BEFF);  display: flex;
  height: 50px;
  justify-content: space-between;
}
.user {
  top: -18px;
  right: 100px;
  padding: 13px;
  position: absolute;
}
.chamados button {
  align-items: center;
  background-color: #27c067;
  border: none;
  bottom: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
  height: 40px;
  position: relative;
  left: 20px;
  padding: 13px;
  top: -0px;
  justify-content: center;
  transition: 0.75s;
  width: 140px;
}

.chamados button:hover{
  background-color: #088018;
}